.heading{
    width: 80%;
    font-size: 22px;
}
body{
    background-color: crimson;
    color: white;
}
.objects,#object-name,#object-accurracy{
    color: darkturquoise;
}
#camera{
    height: 300px;
    width: 350px;
    border: 2px dashed black;
}